html, body {
    width: 100%;
    height: 100%;
}

body{
    background: #1a1a1a;
    display:table;
}
/* 标题部分样式 */
.container {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
.name{
    font-size: 20px;
    border-bottom: 1px solid #fff;
    line-height: 70px;
    color: #fff;
}
.link {
    color: #fadf66;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #fadf66;
    margin-top: 10px;
    font-size: 12px;
}
.jieshao{
    color:white;
    font-size:12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*
!*头部logo两种图样式*!
.header {
    margin-bottom: 70px;
    position: relative;
    z-index: 2;
}
.logo1{ !*第一张logo图定位*!
    line-height: 80px;
    !*padding-left: 30px;*!
}
.header img{ !*两张图片垂直居中*!
    vertical-align: middle;
}
.logo2{ !*第二张logo图定位*!
    position: absolute;
    top: 0;
    right: 30px;
    line-height: 80px;
}

!*左边导航栏样式设置*!
ul, li {
    position: relative;
    z-index: 2;
    list-style: none;
    padding:0;
    margin: 0;
}
.left_nav {
    margin-top: 80px;
    display: inline-block;
    vertical-align: middle;
}
.left_nav li{ !*制作左边导航栏小圆点*!
    width: 30px;
    height: 25px;
    margin-top: 0px;
    text-align: center;
}
.left_nav li span{ !*制作左边导航栏小圆点*!
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.left_nav li.active {
    margin: 10px 0;
}
.left_nav li.active span{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    }
*/